name: Calc App CD Pipeline

on:
  workflow_run:
    workflows: ["Calc App CI Pipeline"]
    types:
      - completed

permissions:
  contents: read
  actions: read
  id-token: write

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download Image URI Artifacts
        uses: actions/download-artifact@v4
        with:
          name: image-uris
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Terraform Variables
        run: |
          IMAGE_URI_FE=$(cat image_uri_fe.txt)
          IMAGE_URI_BE=$(cat image_uri_be.txt)

          echo "TF_VAR_container_image_fe=${IMAGE_URI_FE}" >> $GITHUB_ENV
          echo "TF_VAR_container_image_be=${IMAGE_URI_BE}" >> $GITHUB_ENV

          echo "TF_VAR_backend_url=${{ vars.BACKEND_URL }}" >> $GITHUB_ENV
          echo "TF_VAR_frontend_url=${{ vars.FRONTEND_URL }}" >> $GITHUB_ENV

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::975049962487:role/cas3135-ta-1-gha-role
          aws-region: ${{ vars.AWS_REGION }}
          role-session-name: gha-terraform-deploy

      - name: Setup Kubeconfig
        env:
          KUBECONFIG_BASE64: ${{ secrets.KUBECONFIG_BASE64 }}
        run: |
          echo "${{ secrets.KUBECONFIG_BASE64 }}" | base64 --decode > /tmp/kubeconfig
          echo "TF_VAR_kubernetes_config_path=/tmp/kubeconfig" >> $GITHUB_ENV

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: |
          cd terraform
          terraform init

      - name: Terraform Apply
        run: |
          cd terraform
          terraform apply -auto-approve
