name: Calc App Manual Undeployment

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log Level for Destroy'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug

permissions:
  id-token: write
  contents: read
  pull-requests: read

jobs:
  destroy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6
      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4 
        with:
          role-to-assume: arn:aws:iam::975049962487:role/cas3135-ta-1-gha-role
          aws-region: ${{ vars.AWS_REGION }}
          role-session-name: gha-terraform-destroy
      - name: Set up Kubeconfig Secret
        id: kubeconfig_setup
        run: |
          echo "${{ secrets.KUBECONFIG_BASE64 }}" | base64 -d > /tmp/kubeconfig.yaml
        
      - name: Fill Terraform Environment Variables
        run: |
          echo "TF_VAR_aws_region=${{ vars.AWS_REGION }}" >> $GITHUB_ENV
          echo "TF_VAR_kubernetes_config_path=/tmp/kubeconfig.yaml" >> $GITHUB_ENV
          echo "TF_VAR_container_image_be=dummy" >> $GITHUB_ENV
          echo "TF_VAR_container_image_fe=dummy" >> $GITHUB_ENV
          echo "TF_VAR_ecr_repository_be=${{ vars.ECR_REPOSITORY_BE }}" >> $GITHUB_ENV
          echo "TF_VAR_ecr_repository_fe=${{ vars.ECR_REPOSITORY_FE }}" >> $GITHUB_ENV
          echo "TF_VAR_backend_url=${{ vars.BACKEND_URL }}" >> $GITHUB_ENV
          echo "TF_VAR_frontend_url=${{ vars.FRONTEND_URL }}" >> $GITHUB_ENV
        
      - name: Terraform Init
        run: terraform init
        working-directory: ./terraform

      - name: Terraform Destroy
        id: destroy
        run: terraform destroy -auto-approve
        working-directory: ./terraform
